h1 { text-align:center; } 
p{font-weight:bold;}
body{background-color: #6495ED;}


.profile {
	margin: 0 auto;
	display: block;
}

.button {
	display: block;
	color: green;
	border-style: solid;
	border-color: black;
}

#boxTitle {background-color: white;
		  
		   height:50px;
		   margin-bottom:20px;
		   width:100%;
		   position:fixed;}